.title {
  font-family: sans-serif;
  font-size: 80px;
  text-align: center;
  color: rgb(66,194,244);
}

.navigator ul {
  list-style-type: none;
  text-align: center;
  background-color: rgb(200,200,200);
  padding: 20px;
}

.navigator li {
  color: black;
  font-family: sans-serif;
  font-size: 20px;
}
