h1 {
    color: rgb(45, 92, 247);
}
#main{
    margin-top: -15px;
    margin-left: 5px;
}
.mode{
    background-color: rgb(45, 92, 247);
    color: #ffffff;
    font-size: 32px;
    font-weight: 900;
    width: 150px;
    height: 50px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: gray;
}
.modeDiv{
    position:absolute;
    top: 115px;
    left: 25px
}
#fade{
    visibility:hidden;
}
h2{
    margin-top: 10px;
    margin-bottom: 10px;
}
#solidsubmit {
    display: block;
    margin-top: 10px;
    width: 120px;
    height: 40px;
    font-size: 24px;
    font-weight: 900;
    background-color: black;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
#fadesubmit{
    display:block;
    margin-top: 10px;
    width: 120px;
    height: 40px;
    font-size: 24px;
    font-weight: bold;
    background-color: black;
    color: white;
}
body{
    font-family: Georgia;
    font-weight: bold;
}
#fadenumber{
    width: 40px;
}
#colorsDiv{
    margin-top: 10px;
}